<form action="/books" method="post">
  <input type="text" name="title" value="Please enter a title">
  <input type="text" name="author" value="Please enter an author">
  <input type="text" name="snippet" value="Please enter a snippet">
  <input type="Submit" value="Create Book">
</form>
